################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/api-mega-sena/v16*
/api-mega-sena/obj*
